# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库（非常重要）
*.db
*.sqlite3

# 日志
*.log
backend/logs/

# 虚拟环境
.venv/
venv/
env/

# ========================
# Backend
# ========================
backend/*.db

# ========================
# Frontend
# ========================
node_modules/
frontend/node_modules/
dist/
build/

# ========================
# 环境变量
# ========================
.env
.env.*

# ========================
# 系统文件
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Telegram账号（最重要🔥🔥🔥）
# ========================
TGTDATAaccount/
tdata/
*.session

# ========================
# 临时文件
# ========================
*.tmp
*.bak